* {
	border: none;
	border-radius: 0;
	font-family: JetBrainsMono Nerd Font;
	font-size: 13px;
}

window#waybar {
	background-color: #181825;
	transition-property: background-color;
	transition-duration: 0.5s;
}

window#waybar.hidden {
	opacity: 0.5;
}

#workspaces {
	background-color: transparent;
}

#workspaces button {
	all: initial;
	/* Remove GTK theme values (waybar #1351) */
	min-width: 0;
	/* Fix weird spacing in materia (waybar #450) */
	box-shadow: inset 0 -3px transparent;
	/* Use box-shadow instead of border so the text isn't offset */
	padding: 6px 18px;
	margin: 6px 3px;
	border-radius: 4px;
	background-color: #1e1e2e;
	color: #cdd6f4;
}

#workspaces button.active {
	color: #1e1e2e;
	background-color: #cdd6f4;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	color: #1e1e2e;
	background-color: #cdd6f4;
}

#workspaces button.urgent {
	background-color: #f38ba8;
}

#memory,
#custom-power,
#battery,
#backlight,
#pulseaudio,
#custom-audio,
#network,
#clock,
#tray {
	border-radius: 4px;
	margin: 6px 3px;
	padding: 6px 12px;
	background-color: #1e1e2e;
	color: #181825;
}

#custom-power {
	margin-right: 6px;
}

#custom-logo {
	padding-right: 7px;
	padding-left: 7px;
	margin-left: 5px;
	font-size: 15px;
	border-radius: 8px 0px 0px 8px;
	color: #1793d1;
}

#memory {
	background-color: #fab387;
}

#backlight {
	background-color: #fab387;
}

#pulseaudio {
	padding-left: 14px;
	padding-right: 16px;
	background-color: #f9e2af;	
}

#custom-audio {
	color: #aec6f9;
	background-color: transparent;
	padding-left: 4px;
	padding-right: 0px;
}

#pulseaudio-slider slider {
	background: #A1BDCE;
	background-color: transparent;
	box-shadow: none;
	margin-right: 0px;
}

#pulseaudio-slider trough {
	margin-top: -3px;
	min-width: 90px;
	min-height: 10px;
	margin-bottom: -4px;
	border-radius: 8px;
	background: #343434;
}

#pulseaudio-slider highlight {
	border-radius: 8px;
	background-color: #2096C0;
}

#network {
	background-color: #94e2d5;
	padding-right: 14px;
}

#clock {
	font-family: JetBrainsMono Nerd Font;
	background-color: #cba6f7;
}

#custom-power {
	background-color: #f2cdcd;
}


tooltip {
	border-radius: 8px;
	padding: 15px;
	background-color: #131822;
}

tooltip label {
	padding: 5px;
	background-color: #131822;
}
