@define-color bg #0F0F17;
@define-color button-bg #1E1E2E;
@define-color light-coral #F08080;
@define-color white #FFFFFF;
@define-color steel #CDD6f4;
@define-color rose #F38BA8;
@define-color navy-blue #181825;
@define-color light-orange #FAB387;
@define-color light-yellow #F9E2AF;
@define-color blue-grey #A1BDCE;
@define-color teal #94E2D5;
@define-color light-purple #CBA6F7;
@define-color dodger-blue #1E90FF;
@define-color light-salmon #FFB0B0;
@define-color pale-red #F2CDCD;
@define-color sky-blue #87CEEB;
@define-color dark-sky-blue #2096C0;
@define-color dark-grey #343434;

* {
	border: none;
	border-radius: 0;
	font-family: JetBrainsMono Nerd Font;
	font-size: 13px;
}

/* Windows */
#window {
	color: @white;
	font-weight: bold;
}
window#waybar {
	/* background-color: #0F0F17; */
	background-color: transparent;

	transition-property: background-color;
	transition-duration: 0.5s;
}
window#waybar.hidden {
	opacity: 0.5;
}

/* Workspaces */
#workspaces {
	background-color: transparent;
}
#workspaces button {
	all: initial;
	/* Remove GTK theme values (waybar #1351) */
	min-width: 0;
	/* Fix weird spacing in materia (waybar #450) */
	box-shadow: inset 0 -3px transparent;
	/* Use box-shadow instead of border so the text isn't offset */
	padding: 6px 18px;
	margin: 6px 3px;
	border-radius: 4px;
	background-color: @button-bg;
	color: @steel;
}
#workspaces button.active {
	color: @button-bg;
	background-color: @steel;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	color: @button-bg;
	background-color: @steel;
}
#workspaces button.urgent {
	background-color: @rose;
}

/* Buttons */
#memory,
#custom-power,
#battery,
#backlight,
#pulseaudio,
#custom-audio,
#network,
#clock,
#custom-notification,

#tray {
	border-radius: 4px;
	margin: 6px 3px;
	padding: 6px 12px;
	background-color: @button-bg;
	color: @navy-blue;
}

#memory {
	background-color: @light-orange;
}

#pulseaudio {
	padding-left: 10px;
	padding-right: 16px;
	background-color: @light-yellow;	
}
#pulseaudio-slider slider {
	background: @blue-grey;
	background-color: transparent;
	box-shadow: none;
	margin-right: 0px;
}
#pulseaudio-slider trough {
	margin-top: -3px;
	min-width: 90px;
	min-height: 10px;
	margin-bottom: -4px;
	border-radius: 8px;
	background: @dark-grey;
}
#pulseaudio-slider highlight {
	border-radius: 8px;
	background-color: @dark-sky-blue;
}

#network {
	background-color: @teal;
	padding-right: 14px;
}

#clock {
	background-color: @light-purple;
}

#mpris {
	margin-left: 20px;
	font-size: 15px;
	font-weight: bold;
	color: white;
	animation: repeat;
	animation-name: blink;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#mpris.paused {
	color: @light-coral;
}

tooltip {
	border-radius: 8px;
	padding: 15px;
	background-color: @navy-blue;
}
tooltip label {
	padding: 5px;
	background-color: @navy-blue;
}

/* Custom */
#custom-logo {
	padding-right: 7px;
	padding-left: 7px;
	margin-left: 5px;
	font-size: 15px;
	border-radius: 8px 0px 0px 8px;
	color: @dodger-blue;
}

#custom-audio {
	color: @light-yellow;
	background-color: transparent;
	padding-left: 4px;
	padding-right: 0px;
}

#custom-power {
	margin-right: 6px;
	background-color: @pale-red;
}

#custom-notification {
	margin-left: 0px;
	margin-right: 6px;
	background-color: @sky-blue;
}
